@font-face {
    font-family: "livvic";
    src: url("/fonts/Livvic-Bold.woff") format("woff");
    src: url("/fonts/Livvic-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "livvic";
    src: url("/fonts/Livvic-Regular.woff") format("woff");
    src: url("/fonts/Livvic-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "livvic";
    src: url("/fonts/Livvic-SemiBold.woff") format("woff");
    src: url("/fonts/Livvic-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}